# Dipendenze
node_modules/

# Database SQLite.
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Log e file di sistema
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Variabili d'ambiente locali
.env
.env.*
